<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Arsia</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form ng-show="loggedIn===false" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <!--signUpSelected:Used below to toggle between displaying login button or signUp button.-->
          <input type="text" ng-model="user.name" class="form-control" placeholder="username" ng-show="signUpSelected">
          <input type="text" ng-model="user.email" class="form-control" placeholder={{placeholderMsg.email}}>
          <input type="password" ng-model="user.password" class="form-control" placeholder="password">
        </div>
        <button class="btn btn-default" ng-show="!signUpSelected" ng-click="login()">Login</button>
        <a href="" ng-show="!signUpSelected" ng-click="signUpSelected=true"><span class="small">Sign up</span></a>
        <button class="btn btn-success" ng-click="signUp()" ng-show="signUpSelected">Sign up</button>
        <button class="btn btn-danger" ng-click="signUpSelected=false" ng-show="signUpSelected">Cancel</button>
      </form>

      <ul class="nav navbar-nav">
        <li ng-show="loggedIn===true"><a href="#">Hi {{user.email}}</a></li>
        <!--VS! support to login through Modal, uncomment to Use.-->
        <!--<li><a href="" ng-click="open()">login</a></li>-->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click='signUpSelected=false;logout()'>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</div>
