<div id="projectView" class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <button type="button" class="btn btn-default" ng-click="addNewProject=true">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
      <div class="container" ng-show="addNewProject">
        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <input type="text" class="form-control" ng-mode="project.name" placeholder="Project Name"/>
          </div>
          <!--Project Start Date-->
          <div class="col-md-2">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="project.start_date"
                     is-open="start_date_opened"
                     ng-required="true" close-text="Close" placeholder="start date"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="start_date_open($event)"><i
                  class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <!--Project End Date-->
          <div class="col-md-2">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="project.end_date"
                     is-open="end_date_opened"
                     ng-required="true" close-text="Close" placeholder="end date"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="end_date_open($event)"><i
                  class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <!--No. of cycles-->
          <div class="col-md-1">
            <input type="text" class="form-control" ng-model="project.cycles" placeholder="Cycles"/>
          </div>
          <!--Create or cancel-->
          <div class="col-md-2">
            <button ng-click="createNewProject()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok"></span></button>
            <button ng-click="addNewProject=false" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" ng-repeat="cycle in projectCycles">
          <progressbar value="55">{{cycle.idx}}</progressbar>
        </div>
      </div>


      <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
          <!--<progressbar value="55"></progressbar>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
          <!--<progressbar class="progress-striped" value="22" type="warning">22%</progressbar>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
          <!--<progressbar class="progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i>-->
          <!--</progressbar>-->
        <!--</div>-->
      <!--</div>-->


    </div>
  </div>
</div>
